/* .header {
  background-color: #eee;
  padding: 10px 8px;
} */

.currentItemNav{
  color: #F97316!important;
}

.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav li {
  display: inline;
  margin-right: 20px;
}

.nav li a {
  color: #222;
  text-decoration: none;
  cursor: pointer;
}

thead tr th {
  background-color: #f6f6f6;
  color: #222;
}

/* .section {
  display: grid;
  grid-template-columns: 3fr 2fr;
} */
.section-title {
  font-weight: bold;
  margin-bottom: 10px;
}
.section-content {
  margin-left: 20px;
}
.radio-group {
  display: flex;
  flex-direction: column;
}
.radio-group label {
  margin-bottom: 10px;
}
.factures {
  margin-top: 20px;
}
.row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"] {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

span {
  margin: 0 5px;
}

.Échéance{
  background-color: #eee;
  padding: 10px;
  margin-bottom: 10px;
  width: 80%;
}
.factures table {
  width: 100%;
  border-collapse: collapse;
}
.factures table, .factures th, .factures td {
  border: 1px solid #ddd;
}
.factures th, .factures td {
  padding: 8px;
  text-align: left;
}

.modal-body {
padding: 10px;
}

.imprimFact{
  position: fixed;
  top: 350px;
  left: 120px;
  background-color: #fff;
  color: #004FFC;
  height: 45px;
  width: 45px;
  z-index: 9999;
  border: thin solid #004FFC;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pdfFact{
  position: fixed;
  top: 400px;
  left: 120px;
  background-color: #fff;
  color: #004FFC;
  height: 45px;
  width: 45px;
  z-index: 9999;
  border: thin solid #004FFC;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seeFact{
  position: fixed;
  top: 350px;
  left: 120px;
  background-color: #fff;
  color: #004FFC;
  height: 45px;
  width: 45px;
  z-index: 9999;
  border: thin solid #004FFC;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.colorModéle{
  position: fixed;
  top: 450px;
  left: 120px;
  height: 45px;
  width: 45px;
  z-index: 9999;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imprimFact:hover{
  background-color: #004FFC;
  color: #fff;
}

.pdfFact:hover{
  background-color: #004FFC;
  color: #fff;
}
.seeFact:hover{
  background-color: #004FFC;
  color: #fff;
}

.containerModal {
  .invoice {
    background: #fff;
    width: 100%;
    padding: 50px;
  }

  .logo {
    width: 3.5cm !important;
  }

  .document-type {
    text-align: right;
    color: #444;
  }

  .conditions {
    font-size: 0.7em;
    color: #666;
  }

  .bottom-page {
    font-size: 0.7em;
  }
}

.btnPosition{
 display: flex;
 justify-content: end;
}

.company-info p{
  line-height: 5px;
}


.sales-fact-sheet {
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 5px;
}

.btnColor {
  color: #222;
  border: 1px solid #222;
  background-color: white;
}

.page {
  background-color: white;
  border: none;
}

thead tr th {
  background-color:#467aea !important;
  color: white!important;
}
thead th:first-child {
  border-top-left-radius: 15px;
}
thead th:last-child {
 border-top-right-radius: 15px;
}



h2 {
  color: #444;
}
.form-group {
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input[type="text"], input[type="date"], input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.currency-input {
  position: relative;
}
.currency-input::before {
  content: "$";
  position: absolute;
  left: 10px;
  top: 8px;
}
.currency-input input {
  padding-left: 25px;
}