.containerReseau .card {
    border: none;
    border-radius: 0;
    min-height: 50vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}


.btnColor {
    color: #222;
    border: 1px solid #222;
    background-color: white;
}

.page {
    background-color: white;
    border: none;
}

thead tr th {
    background-color: #737171 !important;
    color: white !important;
}

input, textarea{
    background-color: transparent;
}

.incrementation{
    background-color: #F19A33;
    color: #fff;
    padding: 3px 8px;
    border-radius: 50%;
}