<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<!-- Contenu dashbord  -->
<div class="containerReseau mb-5">
    <main class=" mb-5 mt-5">
        <div class="mainContainerLeft p-2" *ngIf="InfoSup">
            <div class="mainContainerLeftImage">
                <div class="image">
                    <img src="http://127.0.0.1:8000{{InfoSup.logo}}" alt="logo">
                </div>
            </div>
            <div class="mainContainerLeftInfo p-3">
                <h4 class="text-center p-3">Informations Entreprise</h4>
                <div class="mainContainerLeftInfoDetail px-1">
                    <h5 class="mb-4">Nom Entreprise: <span>{{InfoSup.nom_entreprise}}</span></h5>
                    <h5 class="mb-4">Telephone: <span>{{InfoSup.tel_entreprise}}</span></h5>
                    <h5 class="mb-4">Adresse: <span>{{InfoSup.adresse_entreprise}}</span></h5>
                </div>
            </div>
        </div>

        <div class="mainContainerRight pt-3">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active navTabsButton" id="updateInfo-tab" data-bs-toggle="pill"
                        data-bs-target="#updateInfo" type="button" role="tab" aria-controls="updateInfo"
                        aria-selected="true">Ajouter Information</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link navTabsButton" id="updatePassword-tab" data-bs-toggle="pill"
                        data-bs-target="#updatePassword" type="button" role="tab" aria-controls="updatePassword"
                        aria-selected="false" (click)=" chargerInfoSup()">Modifier Information</button>
                </li>
            </ul>

            <!-- Ajout Information -->
            <div class="tab-content w-100 h-100" id="pills-tabContent">
                <div class="tab-pane fade show active" id="updateInfo" role="tabpanel" aria-labelledby="updateInfo-tab"
                    tabindex="0">
                    <form action="" class="p-3">
                        <div class="form-floating mb-3">
                            <input type="file" class="form-control" id="file" name="profil" (change)="getFile($event)">
                            <label for="file">Logo</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="nom">
                            <label for="nom">Nom Entreprise</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                style="height: 100px" name="desc" [(ngModel)]="desc"></textarea>
                            <label for="nom" style="color: gray;">Description Entreprise</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="nom" name="adress" [(ngModel)]="adress">
                            <label for="nom">Adresse Entreprise</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="telephone" name="Tel" [(ngModel)]="tel">
                            <label for="telephone">Téléphone</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="devise"
                                [(ngModel)]="selectedCurrency" (change)="onCurrencyChange()">
                                <option selected>sélectionner une devise ...</option>
                                <option *ngFor="let currency of currencies" [value]="currency.code">
                                    {{currency.code}} - {{currency.name}}
                                </option>
                            </select>
                            <label for="floatingSelect">Divise : </label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" id="selectLangue" aria-label="Floating label select example" name="langue" [(ngModel)]="selectedLangue" (change)="onLangueChange()">
                              <option *ngFor="let lang of languages" [value]="lang.name">
                                {{lang.name}}
                              </option>
                            </select>
                            <label for="floatingSelect">Langue : </label>
                          </div>
                        <div class="form-floating mb-3">
                            <input type="file" class="form-control" id="fileSignature" name="Signature" (change)="getFileSignature($event)">
                            <label for="fileSignature">Signature de l'entreprise</label>
                        </div>
                        <button type="submit" class="btn positionbtn" (click)="ajouterInfoSup()">Enregistrer</button>
                    </form>
                </div>

                <!-- Modification Information -->
                <div class="tab-pane fade " id="updatePassword" role="tabpanel" aria-labelledby="updatePassword-tab"
                    tabindex="0">
                    <form action="" class="p-3">
                        <div class="form-floating mb-3">
                            <input type="file" class="form-control" id="file" name="Inputprofil"
                                (change)="getFileInputProfil($event)">
                            <label for="file">Logo</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="Inputnom">
                            <label for="nom">Nom Entreprise</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                style="height: 100px" name="desc" [(ngModel)]="Inputdesc"></textarea>
                            <label for="nom">Description Entreprise</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="nom" name="adress" [(ngModel)]="Inputadress">
                            <label for="nom">Adresse Entreprise</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="telephone" name="Tel" [(ngModel)]="Inputtel">
                            <label for="telephone">Téléphone</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="devise"
                                [(ngModel)]="selectedCurrency" (change)="onCurrencyChange()">
                                <option selected>sélectionner une devise ...</option>
                                <option *ngFor="let currency of currencies" [value]="currency.code">
                                    {{currency.code}} - {{currency.name}}
                                </option>
                            </select>
                            <label for="floatingSelect">Divise : </label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" id="selectLangue" aria-label="Floating label select example" name="langue" [(ngModel)]="selectedLangue" (change)="onLangueChange()">
                              <option *ngFor="let lang of languages" [value]="lang.code">
                                {{lang.name}}
                              </option>
                            </select>
                            <label for="floatingSelect">Langue : </label>
                          </div>
                        <div class="form-floating mb-3">
                            <input type="file" class="form-control" id="fileSignature" name="Signature" (change)="getFileSignature($event)">
                            <label for="fileSignature">Signature de l'entreprise</label>
                        </div>
                        <button type="submit" class="btn positionbtn" (click)="updateInfoSup()">Enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>