.details{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.imageProfilUser img {
    margin-top: -0.2rem !important;

}

.containerReseau .card {
    border: none;
    border-radius: 0;
    min-height: 50vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}


.btnColor {
    color: #222;
    border: 1px solid #222;
    background-color: white;
}

.page {
    background-color: white;
    border: none;
}

thead tr th {
    background-color:#467aea !important;
    color: white!important;
}
thead th:first-child {
    border-top-left-radius: 15px;
  }
  thead th:last-child {
   border-top-right-radius: 15px;
  }

