.details {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.imageProfilUser img {
    margin-top: -0.2rem !important;

}

.containerReseau .card {
    border: none;
    border-radius: 0;
    min-height: 50vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}


.btnColor {
    color: #222;
    border: 1px solid #222;
    background-color: white;
}

.page {
    background-color: white;
    border: none;
}

thead tr th {
    background-color: #737171 !important;
    color: white !important;
}

thead th:first-child {
    border-top-left-radius: 15px;
}

thead th:last-child {
    border-top-right-radius: 15px;
}

h2 {
    color: #020202;
}

p {
    color: #666;
}

.etape {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
}

.etape-numero {
    font-weight: bold;
    color: #999;
}

.titre {
    color: #0099cc;
    font-size: 24px;
    margin-bottom: 20px;
}

.step {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
}

.paragraphe {
    margin: 10px 0;
}

.bold {
    font-weight: bold;
}

.download-btn {
    background-color: #F19A33;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 15px 0;
}

.link {
    color: #999;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.addClient {
    display: grid;
    grid-template-columns: 55% 45%;
    gap: 15px;
}

.zone {
    background-color: #F4F7FC;
    border-radius: 9px;
    padding: 20px;
    margin-bottom: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}



.currentItemNav {
    background-color: #F19A33 !important;
    color: #fff !important;
    border-radius: 30px !important;
    padding: 10px 15px !important;
}

.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav li {
    display: inline;
    margin-right: 20px;
}

.nav li a {
    color: #222;
    text-decoration: none;
    cursor: pointer;
}

select,
textarea,
input[type="text"]{
    background-color: transparent !important;
}

.grille {
    position: fixed;
    top: 350px;
    left: 260px;
    background-color: #fff;
    color: #F19A33;
    height: 45px;
    width: 45px;
    z-index: 9999;
    border: thin solid #F19A33;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerSolde {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    margin: 0 auto;
}

h2 {
    color: #333;
    margin-top: 0;
}

.info {
    background-color: #f8f8f8;
    border-left: 4px solid #4a90e2;
    padding: 10px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.containerSolde input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 80px;
    resize: vertical;
}

.button {
    color: #4a90e2 ;
    background-color: white;
    border: thin solid #4a90e2 ;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto;
}

.button:hover {
    background-color: #357ae8;
    color: white;
}

.info {
    background-color: #f8f8f8;
    border-left: 4px solid #2196F3;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}
input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f8f8f8;
}
textarea {
    height: 60px;
    resize: none;
}
.currency {
    position: relative;
    display: flex;
    align-items: center;
}
.currency input {
    flex-grow: 1;
    padding-right: 40px;
}
/* .currency::before {
    content: "$";
    position: absolute;
    left: 10px;
    color: #666;
}
.currency::after {
    content: "XAF";
    position: absolute;
    right: 10px;
    color: #666;
} */
.date-input {
    position: relative;
}
/* .date-input::before {
    content: "📅";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
} */
/* .date-input input {
    padding-left: 30px;
} */
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.print-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}
.action-btns {
    display: flex;
    gap: 10px;
}
.modify-btn {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
.cancel-btn {
    background-color: white;
    color: #F44336;
    border: 1px solid #F44336;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.message-cell {
    max-width: 300px;
    position: relative;
  }
  .message-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .message-content.expanded {
    white-space: normal;
  }
  .toggle-btn {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }

  .typeConversation{
    background-color: #eee;
  }

  .activetypeConversation{
    background-color: #F19A33;
    color: #fff;
  }