.dashbord {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.cartes{
    background-image: url("../../../assets/images/card1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 220px;
    width: 450px;
}

