
.cartes {
    width: 20rem;
    background: rgb(253, 253, 253);
background: linear-gradient(0deg, #02016F 0%, rgb(1, 26, 243) 100%);
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.nbr-img {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 4rem;
}

.nbr-img img {
    width: 60px;
}

h5 {
    color:white;
}

h1 {
    color: #ffb62f;
    /* background-color: white; */
    padding: 15px;
    border-radius: 50px;
}

.mesCartes {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.devis img {
    width: 80px
}

.group img {
    width: 90px;
}


.dashboard {
  min-height: 100vh;
  display: flex;
}

.sidebar {
  width: 20%; /* ou une valeur fixe en pixels */
  transition: width 0.3s ease;
}

.sidebar.open {
  width: 20%;
}

.sidebar.open .burger-icon {
  left: 80%;
}

.main {
  flex: 1;
  transition: width 0.3s ease;
}

.main.full-width {
  width: 100%;
}