<div class="dashbord">
    <div class="section sidebar">
        <app-sidebar></app-sidebar>
    </div>

    <div class="section">
        <!-- Le navbar  -->
        <app-navbar></app-navbar>

        <!-- Contenu dashbord  -->
        <div class="container cartesContainer mt-5 mb-5">
            <div class="mesCartes">
                <div class="cartes">
                    <h5>Nombres de factures</h5>
                    <div class="nbr-img">
                        <div>
                            <h1>175</h1>
                        </div>
                        <div class="img-facture">
                            <img src="../../../assets/images/facture.png" alt="">
                        </div>
                    </div>
                </div>
        
                <div class="cartes">
                    <h5>Nombres de Dévis</h5>
                    <div class="nbr-img">
                        <div>
                            <h1>220</h1>
                        </div>
                        <div class="img-facture devis">
                            <img src="../../../assets/images/devis.png" alt="">
                        </div>
                    </div>
                </div>
        
        
            </div>
            <br>
            <!-- ----------------------- -->
            <div class="mesCartes">
                <div class="cartes">
                    <h5>Nombres de Clients</h5>
                    <div class="nbr-img">
                        <div>
                            <h1>220</h1>
                        </div>
                        <div class="img-facture group">
                            <img src="../../../assets/images/clients.png" alt="">
                        </div>
                    </div>
                </div>
        
                <div class="cartes">
                    <h5>Nombres d'utilisateurs</h5>
                    <div class="nbr-img">
                        <div>
                            <h1>220</h1>
                        </div>
                        <div class="img-facture devis">
                            <img src="../../../assets/images/users.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

