<div class="wrapper">
  <input type="checkbox" id="btn" hidden />
  <label for="btn" class="menu-btn">
    <i class="fas fa-bars"></i>
    <i class="fas fa-times"></i>
  </label>
  <nav id="sidebar">
    <br>
    <br>
    <br>
    <!-- Les liens  -->
    <ul class="list-items mt-4 containerLink mb-4">
      <!-- Dashbord  -->
      <li>
        <a routerLink="/admin" routerLinkActive="active"><i class="fas fa-home me-3"></i>Dashboard</a>
      </li>
      <!-- Clients  -->
      <li>
        <a routerLink="/client" routerLinkActive="active"><i class="bi bi-people-fill  me-3"></i>Clients</a>
      </li>
      <!-- Promotions  -->
      <!-- <li>
      <a routerLink="/promo" routerLinkActive="active"><i class="bi bi-tags-fill  me-3"></i>Promotions</a>
    </li> -->
      <!-- Produit -->
      <li>
        <a routerLink="/article" routerLinkActive="active"><i class="fas fa-stream  me-3"></i>Produits</a>
      </li>
      <!-- Services  -->
      <li>
        <a routerLink="/service" routerLinkActive="active"><i class="bi bi-suitcase-lg me-3"></i>Services</a>
      </li>
      <!-- Factures  -->
      <li>
        <a routerLink="/facture" routerLinkActive="active"><i class="bi bi-calculator me-3"></i>Ventes</a>
      </li>
      <!-- Dépense -->
      <li>
        <a routerLink="/depense" routerLinkActive="active"><i class="bi bi-cash-coin me-3"></i>Dépense</a>
      </li>
      <!-- Commande d'achat  -->
      <li>
        <a routerLink="/achat" routerLinkActive="active"><i class="bi bi-box me-3"></i>Commande d'achat</a>
      </li>
      <!-- Stocks  -->
      <li>
        <a routerLink="/stock" routerLinkActive="active"><i class="bi bi-cart3 me-3"></i>Stocks</a>
      </li>
      <!-- Rapport  -->
      <li>
        <a routerLink="/rapport" routerLinkActive="active"><i class="bi bi-pie-chart-fill me-3"></i>Rapports</a>
      </li>
    </ul>
  </nav>
</div>

<div class="notif">
  <input type="checkbox" id="btnNotif" hidden />
  <label for="btnNotif" class="menubtn">
    <div class="icon-badge-container">
      <i class="fas bi-bell"></i>
      <span class="badgeNotif" *ngIf="tabNotification.length >0">{{tabNotification.length}}</span>
  </div>
    <i class="fas fa-times"></i>
  </label>
  <div id="notification">
    <div class="titre"><span>Notifications</span></div>
    <div class="zoneAffichage">
      <div class="containerHistory" *ngFor="let notif of tabNotification">
        <span class="occurrence me-4 ms-2">{{notif.occurrences}}</span>
        <span class="me-2">{{notif.message}}</span>
        <span (click)="supprimerNotif(notif.message)"><i class="bi bi-x"></i></span>
      </div>
    </div>
  </div>
</div>

<div class="activity">
  <input type="checkbox" id="btnActivity" hidden />
  <label for="btnActivity" class="menubtn">
    <div class="icon-badge-container">
      <i class="bi bi-clock-history"></i>
      <span class="badge" *ngIf="tabHistory.length >0">{{tabHistory.length}}</span>
  </div>
    <i class="fas fa-times"></i>
  </label>
  <div id="HistoryDay">
    <div class="titre"><span>Activite de la journee</span></div>
    <div class="zoneAffichage">
      <div class="containerHistory" *ngFor="let history of tabHistory">
        <span class="occurrence me-4 ms-2">{{history.occurrences}}</span>
        <span>{{history.message}}</span>
      </div>
    </div>
  </div>
</div>