<div class="wrapper">
  <input type="checkbox" id="btn" hidden />
  <label for="btn" class="menu-btn">
    <i class="fas fa-bars"></i>
    <i class="fas fa-times"></i>
  </label>
  <nav id="sidebar">
    <div class="title"><img src="../../../assets/images/logo.png"></div>
    <br>
    <br>
    <!-- Les liens  -->
    <ul class="list-items">
      <!-- Dashbord  -->
      <li>
        <a routerLink="/admin" routerLinkActive="active"><i class="fas fa-home"></i>Dashboard</a>
      </li>
      <ng-container *ngIf="isSuperAdmin">
        <!-- Information Suplémentaire  -->
        <li>
          <a routerLink="/infos" routerLinkActive="active"><i class="fas fa-cog"></i>Info supplémentaire</a>
        </li>
      </ng-container>
      <ng-container *ngIf="isSuperAdmin">
        <!-- Utilisateurs  -->
        <li>
          <a routerLink="/user" routerLinkActive="active"><i class="bi bi-person-fill"></i>Utilisateurs</a>
        </li>
        <!-- Utilisateurs Archiver  -->
        <li>
          <a routerLink="/userArchive" routerLinkActive="active"><i class="bi bi-person-fill-x"></i>Utilisateurs Archiver</a>
        </li>
      </ng-container>
      <!-- Clients  -->
      <li>
        <a routerLink="/client" routerLinkActive="active"><i class="bi bi-people-fill"></i>Clients</a>
      </li>
      <!-- Promotions  -->
      <li>
        <a routerLink="/promo" routerLinkActive="active"><i class="bi bi-tags-fill"></i>Promotions</a>
      </li>
      <!-- Produit & Services  -->
      <li>
        <a routerLink="/article" routerLinkActive="active"><i class="fas fa-stream"></i>Produits & Services</a>
      </li>
      <!-- Factures  -->
      <li>
        <a routerLink="/facture" routerLinkActive="active"><i class="bi bi-file-earmark-spreadsheet-fill"></i>Factures</a>
      </li>
      <!-- Dévis  -->
      <li>
        <a><i class="bi bi-file-ruled-fill"></i>Devis</a>
      </li>
    </ul>
  </nav>
</div>