<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
  <!-- Contenu dashbord  -->
  <div class="container containerReseau mb-5">
    <div class="zoneSearch mt-5 container mb-4">
      <div class="input-group">
          <input type="search" class="form-control" aria-label="Recipient's username" placeholder="client, article" [(ngModel)]="filterValue"
          (input)="onSearch()">
          <button class="btn btnSearch" type="button" id="button-addon2"><i class="bi bi-search"></i></button>
        </div>          
  </div>
    <div class="row contenu px-5">
        <!-- Button modal Ajout Utilisateurs -->
        <button type="button" class="btn ajouter col-md-2 mb-2" data-bs-toggle="modal" data-bs-target="#addgrille">
            Ajout
        </button>
        <!-- Liste des Utilisateurs  -->
        <div class="col-md-12 px-4">
            <div class="card px-4 py-2 pt-4 rounded-4">
                <!-- Recherhcer une utilisateur  -->
                <div class="row sectionEspace ligneReseauSearch mb-3">
                    <div class="col-md-4">
                        <h3 class="fw-bold">Listes Grille Tarifaire</h3>
                    </div>
                    <div class="col-md-3">
                      <select class="form-select form-select-lg" id="client-select" [(ngModel)]="idClient">
                        <option value="0">Sélectionnez un client</option>
                        <option *ngFor="let client of tabClient" [value]="client.id">{{client.prenom_client}} {{client.nom_client}}</option>
                      </select>
                    </div>
                    <div class="col-md-3">
                      <select class="form-control form-select-lg" id="client-select" [(ngModel)]="idArticle" >
                        <option value="0">Sélectionnez un produit/service</option>
                        <option *ngFor="let product of products" [value]="product.id">{{ product.nom_article }}</option>
                      </select>
                    </div>
                    <div class="col-md-2 mt-1">
                      <button class="btn btnAction" (click)="listeGrille()">okay</button>
                    </div>
                </div>

                <!-- Le tableau des réseaux -->
                <div class="table-responsive ">
                    <table class="table mb-4">
                        <thead>
                            <tr>
                                <th scope="col">Client </th>
                                <th scope="col">Article </th>
                                <th scope="col">Montant</th>
                                <th scope="col">Action </th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let grille of getItemsPage()">
                        <tr>
                            <td>{{grille.prenom_client}} {{grille.nom_client}}</td>
                            <td>{{grille.nom_article}}</td>
                            <td>{{grille.montant_tarif}}</td>
                            <td>
                                <i class="bi bi-pencil-square me-2" title="modifier" (click)="chargerInfosGrille(grille)" data-bs-toggle="modal" data-bs-target="#ModalModifier"></i>
                                <i class="bi bi-trash3 me-2" title="Supprimer" (click)="deleteGrille(grille.id)"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Pagination  -->
                <div *ngIf="getItemsPage().length">
                  <div class="d-flex justify-content-end mb-2">
                      <button class="border border-0 btnColor  mx-2" [disabled]="pageActuelle === 1"
                          (click)="pageActuelle = pageActuelle - 1">
                          <i class="bi bi-arrow-left-circle fs-4"></i>
                      </button>
                      <button class=" rounded-circle mx-2 page" *ngFor="let page of pages" (click)="pageActuelle = page">
                          <span class="pageActuelle fs-5" *ngIf="page===pageActuelle">{{page}}</span>
                          <span *ngIf="page != pageActuelle">{{page}}</span>
                      </button>
                      <button class="border border-0 btnColor mx-2" [disabled]="pageActuelle === totalPages"
                          (click)="pageActuelle = pageActuelle + 1">
                          <i class="bi bi-arrow-right-circle fs-4"></i>
                      </button>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>  



<!-- Modal ajouter grille -->
<div class="modal fade" id="addgrille" tabindex="-1" aria-labelledby="addgrilleLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addgrilleLabel">Ajouter Grille Tarifaire</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <label for="validationCustom01" class="form-label">Client</label>
                <select class="form-select mb-3" aria-label="Default select example" name="client" [(ngModel)]="client">
                    <option selected>Open this select menu</option>
                    <option *ngFor="let client of tabClient" [value]="client.id">{{client.prenom_client}} {{client.nom_client}}</option>
                  </select>
                  <label for="validationCustom01" class="form-label">Article</label>
                  <select class="form-select mb-3" aria-label="Default select example" name="article" [(ngModel)]="article">
                    <option selected>Open this select menu</option>
                    <option *ngFor="let product of products" [value]="product.id">{{ product.nom_article }}</option>
                  </select>
                  <label for="validationCustom01" class="form-label">Montant</label>
                  <input type="number" class="form-control" id="validationCustom01" name="montant" [(ngModel)]="montant">
                  <label for="validationCustom01" class="form-label mb-3">TVA</label>
                  <input type="number" class="form-control" id="validationCustom01" name="tva" [(ngModel)]="tva">
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btnAction" (click)="ajouterGrilles()">Ajouter</button>
            <button type="button" class="btn btnClose" data-bs-dismiss="modal">Annuler</button>
        </div>
      </div>
    </div>
  </div>
  

  <!-- Modal modifier grille -->
<div class="modal fade" id="ModalModifier" tabindex="-1" aria-labelledby="ModalModifierLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="ModalModifierLabel">Modifier Grille Tarifaire</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <label for="validationCustom01" class="form-label">Client</label>
                <select class="form-select mb-3" aria-label="Default select example" name="client" [(ngModel)]="inputclient">
                    <option selected>Open this select menu</option>
                    <option *ngFor="let client of tabClient" [value]="client.id">{{client.prenom_client}} {{client.nom_client}}</option>
                  </select>
                  <label for="validationCustom01" class="form-label">Article</label>
                  <select class="form-select mb-3" aria-label="Default select example" name="article" [(ngModel)]="inputarticle">
                    <option selected>Open this select menu</option>
                    <option *ngFor="let product of products" [value]="product.id">{{ product.nom_article }}</option>
                  </select>
                  <label for="validationCustom01" class="form-label">Montant</label>
                  <input type="number" class="form-control" id="validationCustom01" name="montant" [(ngModel)]="inputmontant">
                  <label for="validationCustom01" class="form-label mb-3">TVA</label>
                  <input type="number" class="form-control" id="validationCustom01" name="tva" [(ngModel)]="inputtva">
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btnAction" (click)="updateGrille()">Ajouter</button>
            <button type="button" class="btn btnClose" data-bs-dismiss="modal">Annuler</button>
        </div>
      </div>
    </div>
  </div>