/* You can add global styles to this file, and also import other style files */
* {
  font-size: 15px;
  font-family: Helvetica;
}

h3 {
  color: #0099cc !important;
  font-size: 20px;
  margin-bottom: 20px;
}

.bi-three-dots {
  background-color: transparent;
  border: thin solid #F19A33;
  color: #F19A33;
  border-radius: 50%;
  padding: 4px;
}

.bi-pencil-square {
  color: #101BC7;
  font-size: 20px;
  cursor: pointer;
}

.bi-trash3 {
  color: #BF0024;
  font-size: 20px;
  cursor: pointer;
}

.bi-archive {
  color: #A9A9A9;
  font-size: 20px;
  cursor: pointer;
}

.bi-plus-circle {
  color: #0cbb40;
  font-size: 20px;
  cursor: pointer;
}

.bi-collection {
  color: #b9ef16;
  font-size: 20px;
  cursor: pointer;
}

.bi-box-seam {
  color: #FFA500;
  font-size: 20px;
  cursor: pointer;
}

.bi-eye {
  color: #F19A33;
  font-size: 20px;
  cursor: pointer;
}

.bi-x {
  color: #FF0000;
  font-size: 20px;
  cursor: pointer;
}

thead tr {
  padding: 8px;
}



.fond-btn {
  background-color: #F19A33 !important;
  color: white !important;
  border: thin solid #F19A33;
}


.zoneSearch {
  background-color: #78767616;
  width: 92%;
  padding: 5px;
  border-radius: 10px;
  margin: 0 auto;
}

.zoneSearch .input-group {
  border-radius: 10px;
  width: 80%;
  margin: 20px auto !important;
}

.zoneSearch .filtre {
  margin: 10px auto !important;
  width: 80%;
}

.btnOutline {
  background-color: #fff !important;
  border: thin solid #3c3b3b !important;
  margin: 0px 4px;
  border-radius: 30px !important;
}

.btnOutlineActive {
  background-color: #3c3b3b !important;
  color: #fff !important;
}

.zoneSearch .btnOutline:hover {
  background-color: #3c3b3b !important;
  color: #fff !important;
}

.btnSearch {
  background-color: #0d6efd !important;
  color: white !important;
}

.contenu {
  /* border: 2px dashed #5c5a5a9f; */
  padding: 30px;
  width: 100%;
  margin: 0 auto !important;
}

.spacetab {
  width: 100%;
  border: 2px solid red;
}

.active {
  color: #F19A33 !important;
}

.modal-header {
  background-color: #0d6efd;
  color: white !important;
}

.btn-close {
  color: white !important;
}

.btnAction {
  background-color: #0d6efd !important;
  color: #fff !important;
}

.btnClose {
  background-color: #F5F5F5 !important;
  color: #020202 !important;
}

.ajouter {
  background-color: #F19A33 !important;
  color: #FFFFFF !important;
  padding: 15px 30px;
  display: flex;
  justify-content: flex-end;
  border-radius: 8px !important;
}

.ajouterVente {
  background-color: #F19A33 !important;
  padding: 2px;
  color: #FFFFFF !important;
  border-radius: 8px !important;

}

/* pagination  */
.pageActuelle {
  background-color: #F19A33 !important;
  color: #fff;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: none !important;
}

.import {
  /* text-decoration: underline; */
  color: #fff;
  cursor: pointer;
  background-color: #F19A33;
  border-radius: 20px;
  padding: 8px 12px;
}

.btnSecond {
  background-color: #fff !important;
  color: #F19A33 !important;
  border: thin solid #F19A33 !important;
}

.bulleInfos {
  display: inline-block;
  background-color: #02020293;
  color: #fff;
  border-radius: 8px;
  padding: 8px;
}

.info-container {
  position: relative;
  display: inline-block;
}

.bulleInfos {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 5px;
  z-index: 10;
  white-space: nowrap;
  max-width: 350px;
}

.info-container:hover .bulleInfos {
  display: block;
}

.couleurs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.couleur {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  position: relative;
}

.couleur.selected {
  border: 2px solid #007bff;
}

.checkmark {
  color: white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.etiquette {
  padding: 5px 15px;
  color: white;
  border-radius: 5px;
  margin: 5px 0;
  display: inline-block;
  height: 32px;
}

.etiquettes {
  overflow-y: scroll;
  height: 250px;
}

.etiquetteListe {
  padding: 13px 35px 5px 35px;
  color: white;
  border-radius: 25px;
  margin: 5px 0;
  display: inline-block;
  height: 52px;
  width: 365px;
  font-weight: bold;
}

.bgHeader {
  background-color: #F19A33;
  color: #fff !important;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  border-radius: 0% 0% 46% 53% / 0% 0% 6% 10%;
}

.ItemMenu {
  background-color: #cecece;
  padding: 8px 15px;
  border-radius: 25px 10px 0 0;
  font-size: 18px;
  cursor: pointer;
  color: #222;
}

.currentItemMenu {
  /* border-bottom: 2px solid #007bff!important; */
  background-color: rgb(68, 142, 221);
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 25px 10px 0 0;
  font-size: 18px;
  color: #fff;
}

tr {
  cursor: pointer;
}

.paramPagination i {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-weight: bold;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  cursor: pointer;
}

.form-check .form-check-input:checked {
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
}