.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    color: #222222;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #f9f9f9; */
    background: rgba(0, 0, 0, 0.696);
    color: #fff;
    min-width: 210px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: -40px;
    border-radius: 3px;
}

.dropdown-content a {
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #656565;
    color: #FFFFFF;
}

.dropdown:hover .dropdown-content {
    display: block;
}

img {
    height: 30px;
}

nav {
    /* background-image: url(../../../assets/images/bannier.png); */
    background-color: #FAFAFA;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-size: small;
}

.navbar {
    z-index: 99995;
}

.navItems {
    margin: 0 auto;
    cursor: pointer;
}

.navItems li {
    list-style: none;
    border-right: thin solid #cfcbcb;
    padding: 0 10px;
}


/* .navItems li:hover {
    background-color: #ffa60088;
    color: #FFFFFF !important;
}

.navItems li a:hover {
    color: #FFFFFF;
    text-decoration: none;
} */

.navbarActive {
    /* background-color: #F19A33 !important; */
    background-color: #ffa60088 !important;
}

.activeNavbar{
    color: #FFFFFF !important;
}

.zoneSelect{
    background-color: #eee;
}
label{
    background-color: transparent;
}

.corps{
    border: 2px solid #eee;
}

.corps textarea{
    border: none!important;
}

.attach{
    display: flex;
    justify-content: space-between;
    border: 2px solid #eee;
}

.resume{
    color: #2457C5;
    text-decoration: underline;
}

.sendMail{
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colormail{
    color: #2457C5;
}
.slider-container {
    display: flex;
    align-items: center;
  }
  
  button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 0 10px;
  }
  
  input[type="range"] {
    margin: 0 10px;
    width: 450px;
  }
  
  span {
    font-size: 14px;
  }
  
  .relance{
    border: thin solid #eee;
    padding: 10px;
  }

  .config{
    border: thin solid #2457C5;
  }

  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .dropdown-toggle{
    color: #F19A33;
  }

  .updatePass{
    text-decoration: solid;
    color: #0d6efd;
    cursor: pointer;
}