.dropdown{
    display: flex;
}

span{
    padding-left: 5px;
}

.dropdown img{
    width: 45px;
    border-radius: 50px;
}

.bi-chevron-down{
    margin-top: 10px;
}

.dropdown:hover .dropdown-menu {
        display: block;
    }
    .dropdown-menu {
        margin-top: 40px;
        margin-left: -6rem;
    }

    .entete{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        color: #fff;
        flex-wrap: wrap;
    }

    h4{
        color: #000;
    }

    span{
        color: #000;
    }

    
    .dropdown-menu  button:hover {
        background-color: #5C6FFF;
        color: #FFFFFF;
    }