.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    color: #222222;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: -58px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #FFA500;
    color: #FFFFFF;
}

.dropdown:hover .dropdown-content {
    display: block;
}

img {
    height: 40px;
}

nav {
    background-image: url(../../../assets/images/bannier.png);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.navbar {
    z-index: 99995;
}

.navItems {
    margin: 0 auto;
    cursor: pointer;
}

.navItems li {
    list-style: none;
    border-right: thin solid #5e5c5c;
    padding: 8px;
}


.navItems li:hover {
    background-color: #ffa60088;
    color: #FFFFFF !important;
}

.navItems li a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.navbarActive {
    background-color: #F97316 !important;
    color: #FFFFFF !important;
}