<!-- Navbar  -->
<div class="entete container">
    <div class="welcome">
        <h4>Bienvenu 👋🏼,</h4>
    </div>
    <!-- -------------- -->
    <div class="dropdown">
        <span>
           <img src="profil.png" alt="">
        </span>

        <span>
           <b>{{usernom}} {{nom}}</b> <br> <i>{{role}}</i>
        </span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span>
            <div class="container mt-4">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton">
                    <!-- <i class="bi bi-chevron-down"></i> -->
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                            <button class="dropdown-item btn "> Profil</button>
                        </li>
                        <li>
                            <button class="dropdown-item btn" (click)="logout()">Déconnexion</button>
                        </li>
                    </ul>
                </div>
            </div>
        </span>
    </div>
   </div>